.inicio{
    text-align: center;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.welcome{
    opacity: 0;
    transition: opacity 2s ease-in-out;
    padding-top: 40px;
    font-family: 'Doto';
    font-size: 90px
}

.welcome.visible2 {
    opacity: 1;
}

.fade-in {
    opacity: 0;
    transition: opacity 4s ease-in-out;
    font-family: 'Nixie One';
    font-size: 3ch;
}

.fade-in.visible {
    opacity: 1;
}

.sobre_mi .text-bg-secondary{
    opacity: 0;
    transition: opacity 6s ease-in-out;
}
.sobre_mi .text-bg-secondary.visible3 {
    opacity: 1;
}
.scroll-text {
    opacity: 0;
    transition: opacity 3s ease-in-out; transition: opacity 3s ease-in-out, transform 3s ease-in-out;
    transform: translateY(20px);
}
.scroll-text.visible4 {
    opacity: 1;
    transform: translateY(0);
    font-size:2.5ch;
}
.imagen-transicion {
    opacity: 0;
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}
.imagen-transicion.mover{
    opacity: 1;
    transform: translateX(-20px); /* Ajusta este valor según sea necesario */
}
.subtitulo-transicion, .sobre_mi{    /* .titulo-transicion,  */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.subtitulo-transicion.visible, .sobre_mi.visible { /*.titulo-transicion.visible, */
    opacity: 1;
    transform: translateY(0);
}

.info-basic {
    display: flex;
    align-items: center; /* Alinea verticalmente al centro */
    justify-content: center; /* Alinea horizontalmente al centro */
    text-align: left;/* Alinea el texto a la izquierda */
}
.info-basic img {
    max-width: 50%; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}
.text-container {
    display: flex;
    flex-direction: column; /* Alinea los párrafos verticalmente */
}
.info-basic p {
    margin: 0; /* Elimina el margen por defecto del párrafo */
}
.info-basic h1{
    margin-bottom: 10px;
}
.nav-item{
    font-size: 20px;
    color: black;
}

.tarjeta_experience{
    padding-top: 40px;
    margin: 50px;
}
.price_travel{
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 90px;
}
.automundial_logo{
    padding: 20px;
}
.grupo_exito{
    padding: 20px;
}
.titulo_experiencia{
    padding-top: 50px;
    text-align: center; 
}
.titulo_experiencia h1{
    font-size: 90px;
    font-family: 'Doto';
}
.titulo_experiencia p{
    padding-top: 20px;
    font-size: 20px;
}

