.inicio{
    text-align: center;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.welcome{
    opacity: 0;
    transition: opacity 2s ease-in-out;
    padding-top: 40px;
    font-family: 'Doto';
    font-size: 90px
}

.welcome.visible2 {
    opacity: 1;
}

.fade-in {
    opacity: 0;
    transition: opacity 4s ease-in-out;
    font-family: 'Nixie One';
    font-size: 3ch;
}

.fade-in.visible {
    opacity: 1;
}

.sobre_mi .text-bg-secondary{
    opacity: 0;
    transition: opacity 6s ease-in-out;
}
.sobre_mi .text-bg-secondary.visible3 {
    opacity: 1;
}
.scroll-text {
    opacity: 0;
    transition: opacity 3s ease-in-out; transition: opacity 3s ease-in-out, transform 3s ease-in-out;
    transform: translateY(20px);
}
.scroll-text.visible4 {
    opacity: 1;
    transform: translateY(0);
    font-size:2.5ch;
}
.imagen-transicion {
    opacity: 0;
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}
.imagen-transicion.mover{
    opacity: 1;
    transform: translateX(-20px); /* Ajusta este valor según sea necesario */
}
.subtitulo-transicion, .sobre_mi{    /* .titulo-transicion,  */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.subtitulo-transicion.visible, .sobre_mi.visible { /*.titulo-transicion.visible, */
    opacity: 1;
    transform: translateY(0);
}

.info-basic {
    display: flex;
    align-items: center; /* Alinea verticalmente al centro */
    justify-content: center; /* Alinea horizontalmente al centro */
    text-align: left;/* Alinea el texto a la izquierda */
}
.info-basic img {
    max-width: 50%; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}
.text-container {
    display: flex;
    flex-direction: column; /* Alinea los párrafos verticalmente */
}
.info-basic p {
    margin: 0; /* Elimina el margen por defecto del párrafo */
}
.info-basic h1{
    margin-bottom: 10px;
}
.nav-item{
    font-size: 20px;
    color: black;
}

.tarjeta_experience{
    padding-top: 40px;
    margin: 50px;
}
.price_travel{
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 90px;
}
.automundial_logo{
    padding: 20px;
}
.grupo_exito{
    padding: 20px;
}
.titulo_experiencia{
    padding-top: 50px;
    text-align: center; 
}
.titulo_experiencia h1{
    font-size: 90px;
    font-family: 'Doto';
}
.titulo_experiencia p{
    padding-top: 20px;
    font-size: 20px;
    
}
.historia{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Doto';
    font-size: 90px;
}
.imagen_brey{
    display: flex;
    justify-content: center;
    align-items: center;   
}
.breyner_saludando {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}
.contenedor_historia{
    font-size:2.5ch;
}
.contenedor_historia_c {
    align-items: center;
}
.contenedor_habilidades{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 100px;
    
}
.habilidades_h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Doto';
    font-size: 90px;
}
.scrollspy-example {
    position: relative;
    height: 350px; /* Ajusta la altura según tus necesidades */
    overflow-y: scroll;
    padding: 1rem;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
  }
  .scrollspy-example li{
    list-style-type: none;
  }
  .simple-list-example-scrollspy .active {
    background-color: #000000; /* Color de fondo para el enlace activo */
    color: white; /* Color del texto para el enlace activo */
  }

  .estilo_link {
    color: #000000; /* Color del enlace */
    text-decoration: none; /* Quitar el subrayado */
    transition: transform 0.2s; /* Transición suave para la animación */
    
  }
  
  .estilo_link:hover {
    color: #00ff88; /* Color del enlace al pasar el ratón */
    text-decoration: underline; /* Subrayado al pasar el ratón */
    animation: heartbeat 1s infinite; /* Añadir la animación de palpito */
  }
  
  @keyframes heartbeat {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }

  @keyframes bounceIn {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    80% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .bounce-modal .modal-dialog {
    animation: bounceIn 0.5s;
  }
 

